<!DOCTYPE html >
<html>
<head>
<style type="text/css">
.tips {
  pointer-events: none;
  display: none;
}
</style>
<meta http-equiv="content-type" content="text/html; charset=GBK" />
<title><%=title%></title>
<base href="http://192.168.50.63:8888/" />
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
<script type="text/javascript" src="javascripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/underscore-min.js"></script>
<script type="text/javascript" src="javascripts/d3.js"></script>
<body>
<div id="header" class="container">
	<div id="logo">
	</div>
	<div id="menu">
		<ul>
			<li><a href="/">Home </a></li>
			<li><a href="/user">用户</a></li>
			<li><a href="/guess">竞猜 </a></li>
			<li><a href="/match">比赛 </a></li>
			<li><a href="/flow">流水</a></li>
		</ul>
	</div>
</div>
</head>